<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">

<div class="quiz-container">
  <div class="quiz-logo">
    <img src="" alt="" />
    <h3>{{ title }}</h3>
  </div>

  <div *ngIf="!ifFinished" class="quiz-questions">
    <h3>{{ selectedQuestion.question }}</h3>
  </div>

  <div *ngIf="!ifFinished" class="quiz-options">
    <button
      *ngFor="let option of selectedQuestion.options; let i = index"
      class="button-options"
      (click)="pressedButton(option.alias)"
    >
      {{ option.name }}
    </button>
  </div>

  <div *ngIf="ifFinished" class="quiz-results">
    <h1>Seu resultado:</h1>
    <p>{{ selectedAnswer }}</p>
  </div>
</div>
