/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: antiquewhite;
}

body {
    /* Define a imagem como plano de fundo */
    background-image: url('./assets/imgs/aot-giphy-ezgif.com-resize.gif');

  /* Define o tamanho do plano de fundo (opcional) */
  background-size: cover;

  /* Define a posição do plano de fundo (opcional) */
  background-position: center;
}
